* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
body {
  background: linear-gradient(to right, rgb(32, 38, 57), rgb(63, 76, 119));
}
.title.container {
  display: block;
  text-align: center;
}
h2 {
  font-size: 60px;
  margin: 0;
  color: rgb(32, 190, 207);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: start;
  display: flex;
  justify-content: space-between;
  color: white;
}
.left {
  padding: 20px;
  flex-basis: 45%;
  flex-wrap: wrap;
}
.left h1 {
  margin-top: 0;
}
.right {
  padding: 20px;
  flex-basis: 45%;
  flex-wrap: wrap;
}
.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inc-exp-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  /* gap: 150px; */
  margin: 20px 0;
}
.income {
  flex: 1;
  text-align: center;
  color: rgb(32, 38, 57);
}
.expense {
  color: rgb(32, 38, 57);

  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type {
  /* padding-right: 150px; */
  border-right: 1px solid #dedede;
}
h3 {
  border-bottom: 3px dashed black;

  padding-bottom: 10px;
  margin: 40px 0 10px;
}
h4 {
  margin: 0;
  text-transform: uppercase;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}
.money.plus {
  color: #2ecc71;
}
.money.minus {
  color: #c0392b;
}
label {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
::placeholder {
  color: rgb(32, 38, 57);
}
input:focus {
  outline: 0;
}

.btn {
  background-color: rgb(32, 38, 57);
  box-shadow: var(--box-shadow);
  color: white;
  border: none;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}
.list li.minus {
  border-right: 5px solid #c0392b;
}
.delete-btn {
  height: 100%;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  background-color: #e74c3c;
  position: absolute;
  border: 0;
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}
.list li:hover .delete-btn {
  opacity: 1;
}
@media (max-width: 1005px) {
  .left {
    padding: 5px;
    flex-basis: 100%;
  }
  .right {
    flex-basis: 100%;

    padding: 5px;
  }
  .container {
    flex-direction: column;
    max-width: 500px;
    padding: 5px;
    text-align: center;
  }
  h2 {
    font-size: 40px;
  }
}
